/* @import url('https://fonts.googleapis.com/css2?family=Jersey+20+Charted&family=Lugrasimo&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

body{
    font-family: "DM Serif Display", serif;
    background-image: url('https://schackattack89.github.io/wdd230/scoots/images/ocean.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.5);
}

header{
    background-color: #f9ffa3;
    display: flex;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
}

h1 {
    margin-right: 10px;
    color: #9d2020;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    margin-left: 7px;
    padding-left: 5px;
    font-size: 2em;
}

h2 {
    color: #a31446;
    text-align: center;
    font-size: 1.2em;
    text-shadow: 1px 1px 2px;
    margin-right: 10px;
    padding-right: 20px;
}

body{
    margin: 0 auto;
    max-width: 100%;
}

.logo{
    width: 20%;
    height: auto;
    display: block;
}

#menu{
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: #ebf09f;
    color: #000;
    max-width: 90%;
    margin: 0 auto;
}

#menu::before{
    content: "\2261"; 
}

nav{
    background-color: black;
    margin: auto;
    max-width: 90%;
    
}

.navigation{
    list-style: none;
    margin: 0 auto;
    max-width: 600px;
}

.navigation li{
    display: none;
}

.navigation a{
    display: block;
    padding: .75rem;
    text-align: left;
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover, .navigation a:active{
    color: #9d2020;
    background-color: #f9ffa3;
}

nav ul li a.active::before{
    content: "🛵";
}

.show li{
    display: block;
}

#menu.show::before{
    content: "X";
}

nav ul {
    list-style-type: none;
}

nav a{
    display: block;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    border: 1px solid white;
}

.active{
    color: yellow;
}

.hero {
	margin: 10px auto;
	position: relative;
	height: auto;
}

.hero img{
    width: 95%;
    max-height: 300px;
    margin: auto;
    justify-self: center;
    border: solid black;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(121, 160, 250, 0.5);
    padding: 0px;
    display: block;
    
}

.herolabel {
    position: absolute;
    margin-right: -0.9vw;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    padding: 1vw 2vw;
    background-color: rgba(121, 160, 250, 0.5);
    border: solid #111658;
    color: #000000;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 3px lightseagreen;
    font-weight: bolder;
    font-size: 3vw;
    border-radius: 5px;
}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 1.5rem;
	font-family:"Lugrasimo", serif;
}

a.herolabel:hover{
    background-color: yellow;
}

.herolabel {
    position: absolute;
    margin-right: -0.9vw;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
    padding: 1vw 2vw;
    background-color: #d1f5e3;
    border: solid #115836;
    color: #1d4d72;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    font-size: 3vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

footer{
    text-align: center;
    background: #f9ffa3;
}

footer figure{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

footer p{
    padding: 3px;
    margin: 0;
}

#year, #lastModified{
    font-size: clamp(10px, 1rem, 14px);
}

figure img{
    width: 25px;
    height: 25px;
}



  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }

  .instagram {
    background:rgb(212, 40, 146);
    color: white;
  }

  .social {
    background: rgb(76, 76, 75);
  }

  #banner {
    background-color: #a14e4e33;
    color: #5c2b00;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 50px;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(129, 13, 13);
    padding-top: 20px;
    margin-bottom: 10px;
}

section#highTemp {
    padding-right: 20px;
}

#closeButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: relative;
    top: 0px;
    right: 0px;
    float: left;
}

.icon-bar{
    writing-mode: vertical-lr;
    margin: 20px auto;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }

a.social{
    display: none;
}

.weather{
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: aqua;
    z-index: -1;
    border: solid blue;
    box-shadow: 5px 5px 5px darkblue;
    border-radius: 3px;
  }
  
  .rental-options{
    display: flex;
    margin: 20px;
    background-color: aqua;
    z-index: -1;
    border: solid blue;
    box-shadow: 5px 5px 5px darkblue;
    border-radius: 3px;
    flex-direction: column;
  }

  .weather h2, .rental-options h2{
    text-decoration: underline;
    text-align: center;
    width: 100%;
    color: #90133f;
  }

  p#temp{
    margin: 0 auto;
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
  }

  section#icon{
    float: left;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
  }

  img#icon-img{
    transform: scale(1.75);
  }

  p#humidity{
    text-align: center;
    padding-bottom: 20px;
  }
  
  p#description{
    text-align: center;
  }

  h2#forecast{
    padding: 0;
    margin: 0;
  }

  p#next-day{
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
  }

  #lefties{
    float: left;
    margin: 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px darkred;
  }

  #righties{
    float: right;
    margin: 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px darkred;
  }

  #vehicles h3 {
    text-align: center;
    margin-bottom: 0px;
    padding: 0px;
    font-size: 1.5em;
    font-weight: bold;
}

.rental-summary p{
    margin: 0;
    padding: 0px 15px;
    padding-top: 5px;
}

section#playa {
    background: aqua;
    box-shadow: 5px 5px 5px darkblue;
    border-radius: 25px;
}

section#puerta {
    background: aqua;
    box-shadow: 5px 5px 5px darkblue;
    border-radius: 25px;
}

.locations {
    display: flex;
    flex-direction: column;
}

.locations h3 {
    text-align: center;
    padding: 10px 0 0 0;
    margin: 10px 0px;
}

.locations img {
    width: 100%;
    transform: scale(.9);
    border-radius: inherit;
}

.locations h2 {
    font-size: clamp(14px, 4vw, 46px);
    text-decoration: underline;
    background: #f9ffa3;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;;
}

#google, #google2{
    display: block;
    margin: 0 auto;
}

/* Slideshow container */
.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    display: flex;
    text-decoration: underline;
    background-color: aqua;
    z-index: -1;
    border: solid blue;
    box-shadow: 5px 5px 5px darkblue;
    border-radius: 3px;
    flex-direction: column;
}

/* Hide all slides by default */
.slide {
    display: none;
}

/* Fade animation for slides */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Navigation dots */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .3s ease;
}

.active {
    background-color: #717171;
}