@media screen and (min-width: 600px){
    nav ul{
     display: flex;
     /* justify-content: space-around; */
    }
    nav ul li{
     flex: 100%;
    }
 
    .navigation{
     display: flex;
    }
 
    .navigation li{
     display: block;
     flex: 1 1 100%;
    }
 
    .navigation a{
     text-align: center;
    }
 
    #menu{
     display: none;
    }
 
    main {
     display: grid;
     grid-template-columns: 65% 35%;
     grid-column-gap: 20px;
    }
 
    .card{
     justify-self: stretch;
    }
 
    header {
     display: flex;
     justify-content: center;
     align-items: center;
     }
 
     h1 {
         text-align: center;
     }
 
     img {
         max-width: 100%;
         padding: 30px;
         padding-right: 10px;    
     }

     .home-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 10px;
        margin-top: 20px;
        justify-content: center;

     }

     .card{
        background-color: #dff7cf;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     }

     .card:nth-child(1){
        grid-column: span 2;
     }
     .card:nth-child(2){
        grid-column: span 1;
     }
     
     .card:nth-child(3){
        grid-column: span 1;
     }
     .card:nth-child(4){
        grid-column: span 1;
     }
     .card:nth-child(5){
        grid-column: span 1;
     }

     .join-button{
         padding: 2vw 4vw;
         font-size: 2vw;
     }
     div#wind {
      font-size: .5em;
  }
  
  div#humidity {
      font-size: .5em;
  }
 }