

body{
    font-family: "Lugrasimo";
}

header{
    background-color: #1d4d72;
    display: flex;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
}

h1 {
    margin-right: 10px;
    color: white;
    text-align: center;
}

img{
    max-width: 100%;
    padding: 30px;
    margin-left: 10px;
    padding-right: 10px;
}

body{
    margin: 0 auto;
    max-width: 100%;
}

nav{
    background-color: black;
    margin: auto;
    max-width: 90%;
    
}

nav ul {
    list-style-type: none;
}

nav a{
    display: block;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    border: 1px solid white;
}

.active{
    color: yellow;
}

main{
    margin: auto;
    max-width: 80%;
    align-self: center;
}

h2{
    margin: 0 auto;
    text-align: center;
    border-bottom: solid lightgray;
    padding-top: 2rem;
    margin-bottom: 1rem;
    grid-column-start: 1;
    grid-column-end: 3;
}

.card{
    border: solid lightgray;
    border-radius: .5em;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px darkgray;
    
}

h3{
    margin-top: 0;
    border-top-left-radius: .25em;
    border-top-right-radius: .25em;
    background-color: #1d4d72;
    color: white;
    text-align: center;
    padding: 1rem;
}

.card ul a{
    color: blue;
    text-decoration: underline;
}

h5{
    text-align: center;
}

footer{
    background-color: #1d4d72;
    margin: 0 auto;
    max-width: 90%;
}

p{
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: .75em;
}

#year{
    margin-bottom: -20px;
}

#lastModified{
    color: yellow;
}

.designHead{
    display: block;
}

.principles{
    font-size: 3vw;
    padding-top: 15px;
    padding-bottom: -10px;
}

.name{
    font-size: 2vw;
    padding-top: -10px;
    padding-bottom: 15px;
}