:root {
    --primary-color:  #1d4d72   ;
    --secondary-color: #5993f1 ;
    --accent1-color: #38a96f;
    --accent2-color: #b96e6e;
  
    --heading-font: Lugrasimo;
    --serif-font: serif;
  }

#formmessage{
    display: flex;
    width: 100%;
    justify-content: center;
    max-height: 40px;
}
.webform{
    display: block;
    width: 100%;
    margin: 0 auto;
    justify-content: left;
}
.webform label{
    display: block;
    padding-top: 1rem;
    color: var(--primary-color);
    font-size: .9rem;
}

.webform div{
    padding-top: 1rem;
    color: #445ba9;
    font-size: .9rem;
}

.webform input[type="text"],
.webform input[type="email"],
.webform input[type="password"]
{
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
    font-family: var(--serif-font);
}

.webform input[type="submit"]{
    border: none;
    background-image: linear-gradient(var(--secondary-color), var(--primary-color));
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999
}

.webform input:required{
    border-right: solid 8px var(--secondary-color);
}

.webform input:required:valid{
    border-bottom: solid 8px var(--accent1-color);
}

#r {
	width: 180px;
	margin-bottom: 0;
    display: inline;
}

#rangevalue {
    display: flex;
	font-size: 2rem;
	color: var(--primary-color);
    justify-content: center;
    padding: 0;
}
